.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
cypress/downloads
tsconfig.json

# Ignore specific files causing parsing errors
package.json
pnpm-lock.yaml
src/App.vue
src/auto-imports.d.ts
src/components/TheSection1.vue
src/components/TheSection2.vue
